* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

body, html {
	height:100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#app {
	text-align: center;
}

button {
	height: 40px;
	width: 90px;
	margin: auto;
}

#canvas {
	background-image: url('../icon.jpg');
	background-repeat: no-repeat;
	background-position: center;
	margin: auto;
	text-align: center;
	border: solid 5px black;
}

#modes-container {
	height: auto;
	width: auto;
}

#canvasContainer {
  width: 100%;
  text-align:center;
	background-image: url('../icon.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 35%
}

#homeCanvas {
  display: inline;
	text-align: center;
	margin: auto;
	/*border: solid 5px black;*/
  /*position:absolute;*/
	width: 100%;
}

#buttons {
	border: solid 5px black;
	width: 25%;
	margin: auto;
	text-align: center;
	padding-bottom: 20px;
}

/* STUDY COMPONENT STYLES */
.studyDiv {
	width: 80%;
	margin: auto;
	padding-top: 10%;
}

/* MODES COMPONENT STYLES */
.optionButtons {
	width: 80%;
	padding: 5% 0 5% 0;
	height: 15;
}
