* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

body, html {
	height:100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#app {
	text-align: center;
}

#modes-container {
	height: auto;
	width: auto;
}

#canvasContainer {
  width: 100%;
	background-image: url('../icon.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 35%
}

#homeCanvas {
	margin: auto;
	width: 100%;
}

/* STUDY COMPONENT STYLES */
.studyDiv {
	width: 96%;
	margin: auto;
	padding-top: 8.5%;
}
.studyButtons {
	padding: 1%;
	margin: 2% 3% 2% 3%;
}
.studyDefinitions {
	font-size: 24px;
}

audio::-internal-media-controls-download-button {
    display:none;
}

audio::-webkit-media-controls-enclosure {
    overflow:hidden;
}

audio::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}
